<form action="/street-to-weather/results">
  <div>
    <label for="user_address">Street Address</label>
    <input id="user_address" type="text" name="street_address">
  </div>
  <button>Tell me the weather!</button>
</form>
