<form action="/coords-to-weather/results">
  <div>
    <label for="user_latitude">Latitude</label>
    <input type="text" name="user_latitude" id="latitude" placeholder="41">
  </div>
  <div>
    <label for="user_longitude">Longitude</label>
    <input type="text" id="longitude" name="user_longitude" placeholder="-87">
  </div>
  <button>Lookup Weather!</button>
</form>
