<form action="/coords-to-weather/results">
  <div>
    <label for="latitude">Latitude</label>
    <input id="latitude" type="text" name="user_latitude"  placeholder="41">
  </div>
  <div>
    <label for="longitude">Longitude</label>
    <input id="longitude" type="text" name="user_longitude" placeholder="-87">
  </div>
  <button>Lookup Weather!</button>
</form>
