<form action="/">
  <div>
    <label for="event_name">Name</label>
    <input type="text" id="name">
  </div>
  <div>
    <label for="details">Details</label>
    <input type="text" name="details" id="event_details">
  </div>
  <div>
    <label for="event_location">Location</label>
    <input type="text" name="event_location" id="location">
  </div>
  <div>
    <label for="event_begins">Start time</label>
    <input type="datetime-local" name="event_begins" id="event_begins">
  </div>
  <div>
    <label for="event_ends">End time</label>
    <input type="datetime-local" name="end_date" id="event_begins">
  </div>
  <button>Generate</button>
</form>
