<form action="/calendar_invite/results">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" name="name">
  </div>
  <div>
    <label for="details">Details</label>
    <input id="details" type="text" name="details">
  </div>
  <div>
    <label for="location">Location</label>
    <input id="location" type="text" name="location">
  </div>
  <div>
    <label for="event_begins">Start time</label>
    <input id="event_begins" type="datetime-local" name="start_time">
  </div>
  <div>
    <label for="event_ends">End time</label>
    <input id="event_ends" type="datetime-local" name="end_time">
  </div>
  <button>Generate</button>
</form>
