<form action="/street-to-coords/results">
  <div>
    <label for="user_street">Street Address</label>
    <input id="user_street" type="text" name="street_address" placeholder="222 W Merchandise Mart Plaza">
  </div>
  <button>Lookup Coordinates!</button>
  
</form>
