<form action="/street-to-coords/results">
  <div>
    <label for="user_street">Street Address</label>
    <input type="text" id="user_street" name="street_address" placeholder="413 W Business Ave">
  </div>
  <button>Lookup Coordinates!</button>
</form>
